<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anagram Checker</title>
  </head>
  <h1>Enter a word and 3 other words that you believe can be created with the first word.</h1>
  <body>
    <form action="/output" method="post">
      <label for="starting-word">Enter Starting Word:</label>
      <input type="text" name="starting-word">

      <label for="suggestion1">Enter Suggestion1:</label>
      <input type="text" name="suggestion1">

      <label for="suggestion2">Enter Suggestion2:</label>
      <input type="text" name="suggestion2">

      <label for="suggestion3">Enter Suggestion3:</label>
      <input type="text" name="suggestion3">

      <button type="submit" name="button">Check your word!</button>
    </form>

  </body>
</html>
